       a.mycontent:link,a.mycontent:visited{
           text-decoration: none;
           background-color: rgb(0, 0, 129);
           border: 3px solid rgb(8, 8, 52);
           color: white;
           display: block;
           width: 300px;
           text-align: center;
           margin-bottom: 1px;
         }
         a.mycontent:hover{
            background-color: magenta;
            color: rgb(255, 255, 255);
         }
         a.mycontent:active{
            background-color: yellow;
            color: rgb(255, 0, 0);
         }
         .basic{
         background-color: #b2b2fb;
         color: rgb(42, 42, 45);
         }
        .child{
            background-color: #9e9eff;
         color: rgb(37, 31, 31);
        }
        .school{
            background-color: #6d6dff;
         color: rgb(255, 255, 255);
        }
        .outsd{
            background-color: rgb(70, 70, 255);
         color: rgb(255, 255, 255);
        }
        .uni{
            background-color: #3030fc;
         color: rgb(255, 255, 255);
        }
        h1{
            text-align: center;
            font-size: 22px;
        }
        .backtomain{
            font-style: italic;
        }
        #Content{
            text-align: center;
        }
      article{
    font-size: 120%;
       }
       div>h2{
        font-size: 120%;
       }
      .tocontent{
        font-weight: 600;
      }
      .upp{
        text-transform: uppercase;
      }
      .container{
        display: flex;
        flex-flow: row wrap;
      }
      .container1{
        border: 1px solid black;
        
      }

      
        /* Large devices */
    @media (min-width: 992px) {
        
        .col-lg-1 {
            flex-basis: 8.33%;
        }
        .col-lg-2 {
            flex-basis: 16.66%;
        }
        .col-lg-3 {
            flex-basis: 25%;
        }
        .col-lg-4 {
            flex-basis: 33.33%;
        }
        .col-lg-5 {
            flex-basis: 41.66%;
        }
        .col-lg-6 {
            flex-basis: 50%;
        }
        
        .col-lg-7 {
            flex-basis: 58.33%;
        }
        .col-lg-8 {
            flex-basis: 66.66%;
        }
        .col-lg-9 {
            flex-basis: 75%;
        }
        .col-lg-10 {
            flex-basis: 83.33%;
        }
        .col-lg-11 {
            flex-basis: 91.66%;
        }
        .col-lg-12 {
            flex-basis: 100%;
        }
        }
    
        /* Medium devices */
        @media (min-width: 768px) and (max-width: 992px) {
        .col-md-1 {
        flex-basis: 8.33%;
        }
        .col-md-2 {
            flex-basis: 16.66%;
        }
        .col-md-3 {
            flex-basis: 25%;
        }
        .col-md-4 {
            flex-basis: 33.33%;
        }
        .col-md-5 {
            flex-basis: 41.66%;
        }
        .col-md-6 {
            flex-basis: 50%;
        }
        .col-md-7 {
            flex-basis: 58.33%;
        }
        .col-md-8 {
            flex-basis: 66.66%;
        }
        .col-md-9 {
            flex-basis: 75%;
        }
        .col-md-10 {
            flex-basis: 83.33%;
        }
        .col-md-11 {
            flex-basis: 91.66%;
        }
        .col-md-12 {
            flex-basis: 100%;
    
        }
        }
        /*Small devices*/
        @media (max-width: 768px) {
            .row{
                flex-wrap: wrap;
            }
        .col-sm-1 {
            flex-basis: 8.33%;
        }
        .col-sm-2 {
            flex-basis: 16.66%;
        }
        .col-sm-3 {
            flex-basis: 25%;
        }
        .col-sm-4 {
            flex-basis: 33.33%;
        }
        .col-sm-5 {
            flex-basis: 41.66%;
        }
        .col-sm-6 {
            flex-basis: 50%;
        }
        
        .col-sm-7 {
            flex-basis: 58.33%;
        }
        .col-sm-8 {
            flex-basis: 66.66%;
        }
        .col-sm-9 {
            flex-basis: 75%;
        }
        .col-sm-10 {
            flex-basis: 83.33%;
        }
        .col-sm-11 {
            flex-basis: 91.66%;
        }
        .col-sm-12 {
            flex-basis: 100%;
        }
        }
        