table th, td {
 padding: 10px;
 border:  2px solid;
text-align: center;
}
table {
margin: auto;
border-collapse: collapse;
}
tbody > tr:nth-child(odd){
background-color: #7b7b7b;
}
h1{
text-align: center;
font-size: 22px; 
}
.backtomain{
font-style: italic;
}
h2{
text-align: center;
}
.thh{
text-align: center;
background-color: green;
font-weight: 600;
color: yellow;
}
tr td:nth-child(5){
text-align: right;
}
