.first1{
   background-color: #7b7b7b;
}
.second1{
   background-color: white;
}
li li:nth-child(3){
   cursor: pointer;
}
li li:nth-child(5){
   cursor: pointer;
}
li li:nth-child(4){
background-color: rgb(147, 255, 53);
}
h1{
   text-align: center;
   font-size: 22px;
}
.backtomain{
   font-style: italic;
}
h2{
   text-align: center;
}
.cointainer{
    display: flex;
   flex-flow: row wrap;
}
/* Large devices */
@media (min-width: 992px) {
        
    .col-lg-1 {
        flex-basis: 8.33%;
    }
    .col-lg-2 {
        flex-basis: 16.66%;
    }
    .col-lg-3 {
        flex-basis: 25%;
    }
    .col-lg-4 {
        flex-basis: 33.33%;
    }
    .col-lg-5 {
        flex-basis: 41.66%;
    }
    .col-lg-6 {
        flex-basis: 50%;
    }
    
    .col-lg-7 {
        flex-basis: 58.33%;
    }
    .col-lg-8 {
        flex-basis: 66.66%;
    }
    .col-lg-9 {
        flex-basis: 75%;
    }
    .col-lg-10 {
        flex-basis: 83.33%;
    }
    .col-lg-11 {
        flex-basis: 91.66%;
    }
    .col-lg-12 {
        flex-basis: 100%;
    }
    }

    /* Medium devices */
    @media (min-width: 768px) and (max-width: 992px) {
    .col-md-1 {
    flex-basis: 8.33%;
    }
    .col-md-2 {
        flex-basis: 16.66%;
    }
    .col-md-3 {
        flex-basis: 25%;
    }
    .col-md-4 {
        flex-basis: 33.33%;
    }
    .col-md-5 {
        flex-basis: 41.66%;
    }
    .col-md-6 {
        flex-basis: 50%;
    }
    .col-md-7 {
        flex-basis: 58.33%;
    }
    .col-md-8 {
        flex-basis: 66.66%;
    }
    .col-md-9 {
        flex-basis: 75%;
    }
    .col-md-10 {
        flex-basis: 83.33%;
    }
    .col-md-11 {
        flex-basis: 91.66%;
    }
    .col-md-12 {
        flex-basis: 100%;

    }
    }
    /*Small devices*/
    @media (max-width: 768px) {
        .row{
            flex-wrap: wrap;
        }
    .col-sm-1 {
        flex-basis: 8.33%;
    }
    .col-sm-2 {
        flex-basis: 16.66%;
    }
    .col-sm-3 {
        flex-basis: 25%;
    }
    .col-sm-4 {
        flex-basis: 33.33%;
    }
    .col-sm-5 {
        flex-basis: 41.66%;
    }
    .col-sm-6 {
        flex-basis: 50%;
    }
    
    .col-sm-7 {
        flex-basis: 58.33%;
    }
    .col-sm-8 {
        flex-basis: 66.66%;
    }
    .col-sm-9 {
        flex-basis: 75%;
    }
    .col-sm-10 {
        flex-basis: 83.33%;
    }
    .col-sm-11 {
        flex-basis: 91.66%;
    }
    .col-sm-12 {
        flex-basis: 100%;
    }
    }
    