.text{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 110, 173);
    color:rgb(0, 0, 0) ;
}
.list{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(229, 167, 255);
    color:rgb(0, 0, 0) ;
}
.table{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(153, 255, 102);
    color:rgb(0, 0, 0) ;

}
.img{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 167, 167);
    color:rgb(0, 0, 0) ;
}
h4 :nth-of-type(1){
    background-color: rgb(71, 147, 154);
    float: right;
    display: block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    }
   
h4 :nth-of-type(2){
    background-color: rgb(165, 155, 42);
    float: right;
    display: block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    }

h4 :nth-of-type(3){
    background-color: rgb(255, 165, 56);
    float: right;
    display: block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    }

h4 :nth-of-type(4){
    background-color: rgb(20, 111, 55);
    float: right;
    display: block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    }
