.text{
    background-color: rgb(255, 110, 173);
    color:rgb(0, 0, 0) ;
}
.list{
    background-color: rgb(229, 167, 255);
    color:rgb(0, 0, 0) ;
}
.table{
    background-color: rgb(153, 255, 102);
    color:rgb(0, 0, 0) ;
}
    table th, td {
        padding: 10px;
        border:  2px solid;
       text-align: center;
       }
       table {
       margin: auto;
       border-collapse: collapse;
      }

.img{
    background-color: rgb(255, 167, 167);
    color:rgb(0, 0, 0) ;
}
.first{
    background-color: rgb(71, 147, 154);
    color: rgb(255, 255, 255);
    float: right;
    display: block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    }
   
.second{
    background-color: rgb(165, 155, 42);
    float: right;
    display: block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    color: brown ;
    }

.third{
    background-color: rgb(255, 165, 56);
    float: right;
    display: block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    color: black;
    }

.fourth{
    background-color: rgb(20, 111, 55);
    float: right;
    display: block;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    color: beige;
    }
    h4{
        font-size: 120%;
    }
h1,h2,h3{
    font-family: 'Hedvig Letters Sans', sans-serif;
}